@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bropella";
  src: url("/fonts/Bropella.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dunce Cap Italic";
  src: url("/fonts/duncecapbb_ital.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Dunce Cap Regular";
  src: url("/fonts/duncecapbb_reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Italiano";
  src: url("/fonts/Italiano-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junebug";
  src: url("/fonts/JUNEBUG.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Milkyway";
  src: url("/fonts/Milkyway DEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monte Carlo";
  src: url("/fonts/MonteCarlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silver Garden Bold Italic";
  src: url("/fonts/Silver Garden Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Silver Garden Bold";
  src: url("/fonts/Silver Garden Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Silver Garden Italic";
  src: url("/fonts/Silver Garden Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Silver Garden";
  src: url("/fonts/Silver Garden.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, sans-serif;
}

:root {
  --font-inter: "Inter", sans-serif;
}

/* globals.css */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Toastify__toast {
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #222222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Toastify__toast--success {
  background-color: #83694f; /* Green for success */
}

.Toastify__close-button {
  color: #ffffff;
}

.Toastify__progress-bar {
  background-color: #ffffff;
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
